body {
    background: hsl(0, 0, 93%);
    div {
        display: flex;
    }
}

.App {
    margin: 0 1rem;
    text-align: center;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
}


